* {
  box-sizing: border-box;
}
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style: none;
}
/* Task 1 */

.category-main-list {
  max-width: 440px;
}
.item {
  background: rgba(246, 246, 254, 1);
  padding-bottom: 16px;
}
.category-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.category-title {
  padding-left: 16px;
  padding-top: 16px;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
}
.category-list-item {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid rgba(128, 128, 128, 1);
  width: 360px;
  height: 40px;
  gap: 0px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
/* Task 2 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
/* Task 3 */
.output-styles {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
input {
  margin-bottom: 16px;
  max-width: 360px;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
input::placeholder {
  color: rgba(46, 47, 66, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
input:hover::placeholder,
input:focus::placeholder {
  color: orchid;
}
.greeting-input-style,
.output-styles {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: orchid;
}
/* Task 4 */
.login-form {
  display: flex;
  flex-direction: column;
}
.form-label-styles {
  display: flex;
  flex-direction: column;
}
.btm-form-styles {
  max-width: 86px;
  max-height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
  color: #d4e6f7;
}

.btn:focus {
  outline: 2px solid #80bdff;
  outline-offset: 2px;
}
/* Task 5 */
.change-color {
  max-width: 148 px;
  max-height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.paragraph-style {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/* Task 6 */
.div-with-btns {
  background: rgba(246, 246, 254, 1);
  display: flex;
  justify-content: center;
  gap: 16px;
}
.boxes-container {
  margin-top: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: rgba(246, 246, 254, 1);
  display: flex;
  align-items: center;
  gap: 44px;
}
.task-six-input {
  max-width: 150px;
  max-height: 40px;
  padding: 8px 72px 8px 72px;
  gap: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: rgba(46, 47, 66, 1);
  opacity: 1;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.create-btn-task-six {
  max-width: 120px;
  max-height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.destroy-btn-task-six {
  max-width: 120px;
  max-height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: rgba(255, 78, 78, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
